POSTGRES_USER=forge_admin
POSTGRES_PASSWORD=forge_secret
POSTGRES_DB=forgetwin_dev

MONGO_USER=forge_admin
MONGO_PASSWORD=forge_secret
MONGO_DB=forgetwin_cad_meta

REDIS_PASSWORD=forge_secret

MINIO_USER=forge_admin
MINIO_PASSWORD=forge_secret
